html, h1, h2, h3, ul, li, ol, p, a {
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 100%;
  font: inherit;
}
body {
  font-family: Arial, sans-serif;
  width: 70%;
  margin: 30px auto;

}
h1 {
  text-decoration: bold;
  color: #BFBDD8;
  padding: 15px;
  text-align: center;
  font-weight: bolder;
  font-size: 72px;
}

h2 {
  text-decoration: italisized;
  color: #8F68C9;
  margin: 15px 0 15px 0;
  border-bottom: 1px solid #BFBDD8;
  padding-bottom: 3px;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
}
h3 {
  text-align: center;
  font-size: 1.65em;
  margin: 0 0 30px;
}
h4 {
  text-align: center;
  font-size: 1.65em;
  margin: 0 0 30px;

}
.header {
  padding: 10px 0 10px 0;
  background-image: image(AW6.JPG);
  display: block;
  margin: 0 auto 0 auto;
}

.nav {
  color: #BDD8D1;
  margin: 15px 0 15px 0;
  border-bottom: 1px solid #BDD8D1;
  padding-bottom: 3px;
  text-align: center;
}

p {
  color: #9DC4D2;
  padding-left: 5px;
}
li {
  color: #9DC4D2;
  padding-left: 50px;
}
.nav a {
  text-decoration: none;
}
.nav a:hover {
  text-decoration: underline;
  color: #8F68C9;
}
ul li {
  display: inline;
}
.artwork {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px
}
.artwork: hover{
  border: 1px solid #8F68C9;
}

.artwork img {
  border: none;
  width: 100%;
  height: auto;
}
.desc {
  padding: 15px;
  text-align: center;

}
.apps img {
  width: 3%;
}
.apps {
  text-align: center;
}
.cform {
  display: inline;
}
.cform p {
  text-align: center;
}
label, input {
  display: block;
}
label {
  margin-bottom: 10px;
}
input {
  width: 500px;
  margin-bottom: 25px;
}
input [type=submit]{
  width: 120px;
  font-size: 30px;
  border: 2px solid #000000;
}

input [type=text] {
  border: 2px solid #000000;
  font-size: 30px;
  padding: 7px;
}
textarea {
  width: 500px;
  height: 400px;
  padding: 7px;
  border: 2px solid #000000;
  margin-bottom: 25px;
  font-size: 24px;
}
input [type=checkbox], label [for=email-updates] {
  display: inline;
}
