html, h1, h2, h3, ul, li, ol, p, a {
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 100%;
  font: inherit;
}
body {
  font-family: Arial, sans-serif;
  width: 70%;
  margin: 30px auto;

}
@font-face {
  font-family: 'Megrim';
  src: url('//fonts.googleapis.com/css?family=Megrim');
  font-style: normal;
  font-weight: normal;
}
h1 {
  color: #BFBDD8;
  padding: 15px;
  text-align: center;
  font-size: 72px;
  font-family: 'Megrim', sans-serif;
}

h2 {
  text-decoration: italisized;
  color: #8F68C9;
  margin: 15px 0 15px 0;
  border-bottom: 1px solid #BFBDD8;
  padding-bottom: 3px;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  text-shadow: 4px 4px 4px #BFBDD8;
}
h3 {
  text-align: center;
  font-size: 1.65em;
  margin: 0 0 30px;
}
h4 {
  text-align: center;
  font-size: 1.65em;
  margin: 0 0 30px;
}
h5 {
  text-align: center;
  border-bottom: 1px solid #BDD8D1;
  padding-bottom: 3px;
  color: #BDD8D1;
}
header {
  padding: 10px 0 10px 0;
  background-image: image(AW6.JPG);
  display: block;
  margin: 0 auto 0 auto;
}
nav {
  color: #BDD8D1;
  margin: 15px 0 15px 0;
  border-bottom: 1px solid #BDD8D1;
  padding-bottom: 3px;
  text-align: center;
}

p {
  color: #9DC4D2;
  padding-left: 5px;
  display: inline;
}
li {
  color: #9DC4D2;
  padding-left: 50px;
}

footer img {
  width: 3%;
  border-radius: 50%;
}
.nav a {
  text-decoration: none;
}
.nav a:hover {
  text-decoration: underline;
  color: #8F68C9;
}
ul li {
  display: inline;
}
.artwork {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px
}
.artwork: hover{
  border: 1px solid #8F68C9;
}

.artwork img {
  border: none;
  width: 100%;
  height: auto;
  border-radius:0%;
}
.desc {
  padding: 15px;
  text-align: center;

}
.apps img {
  width: 3%;
  border-radius: 50%;
}
.apps {
  text-align: center;
}
.cform {
  display: inline;
  color: #8F68C9;
}
.cform p {
  text-align: center;
  padding-bottom: 3px;
}

label, input {
  display: block;
}
label {
  margin-bottom: 8px;
  padding-top: 8px;
  color: #BDD8D1;
}
input {
  width: 500px;
  margin-bottom: 3px;
  border: 1px solid #8F68C9;
  box-shadow: 2px 4px 4px #BDD8D1;
}
input [type=submit]{
  width: 120px;
  font-size: 30px;
}

input [type=text] {
  border: 10px solid #8F68C9;
  font-size: 30px;
  padding: 5px;
}
textarea {
  width: 500px;
  height: 400px;
  padding: 5px;
  border: 2px solid #8F68C9;
  margin-bottom: 25px;
  font-size: 18px;
  box-shadow: 2px 4px 4px #BDD8D1;
}
input [type=checkbox], label [for=email-updates] {
  display: inline;
  border: 1px solid #8F68C9;
  box-shadow: 2px 4px 4px #BDD8D1;
}
input [type=checkbox] {
  border: 1px solid #8F68C9;
  box-shadow: 2px 4px 4px #BDD8D1;
}

.about img {
  border-radius: 50%;
  display: inline;
}
.about p {
  color: #9DC4D2;
  padding-left: 5px;
  display: inline;
}
